/* Style pour la police futuriste */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap'); /* Exemples de police futuriste */

/* Applique la police futuriste à la marque Navbar */
.futuristic-font {
    font-family: 'Orbitron', sans-serif; /* Change la police */
    font-size: 28px; /* Taille du texte Rutra */
    color: #ffffff; /* Couleur blanche */
    font-weight: bold; /* Rend le texte plus épais */
}

/* Assure que le bouton WalletConnect est à droite */
.ms-auto {
    margin-left: auto; /* Déplace l'élément à droite */
}
