/* HomePage.css */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap'); /* Importation de la police futuriste */

.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les éléments horizontalement */
    justify-content: flex-start; /* Aligne les éléments en haut */
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    background: linear-gradient(180deg, #0f1b29, #1a1a2e); /* Dégradé du bleu foncé au noir */
    color: #ffffff; /* Texte en blanc pour le contraste */
    font-family: 'Arial', sans-serif; /* Police moderne pour le reste du texte */
    text-align: center; /* Centre le texte */
    padding: 20px; /* Espacement autour du contenu */
    overflow: hidden; /* Masque le texte qui sort de l'écran */
}

.homepage-container h1 {
    font-family: 'Orbitron', sans-serif; /* Applique la police Orbitron au titre */
    font-size: 3rem; /* Taille de police pour le titre */
    margin-bottom: 20px; /* Espacement en bas du titre */
    display: inline-block;
}

/* Créer une animation au survol des lettres */
.homepage-container h1 span {
    display: inline-block; /* Chaque lettre est traitée individuellement */
    transition: transform 0.3s ease-in-out; /* Transition douce */
    cursor: pointer; /* Change le curseur pour indiquer que c'est interactif */
}

.homepage-container h1 span:hover {
    transform: translateY(-5px) rotate(5deg); /* Légère montée et rotation */
    color: #bed3ff; /* Changement de couleur au survol pour un effet futuriste */
}

.homepage-container p {
    font-size: 1.5rem; /* Taille de police pour le paragraphe */
    margin-bottom: 40px; /* Espacement en bas du paragraphe */
    opacity: 0.8; /* Légère transparence pour un effet futuriste */
}
.transaction-container {
    display: flex; /* Utilise Flexbox pour aligner les éléments horizontalement */
    justify-content: space-between; /* Espace les éléments sur la largeur disponible */
    width: 100%; /* Prend toute la largeur de la page */
    max-width: 1200px; /* Limite la largeur pour un rendu plus propre */
    margin: 20px 0; /* Marge autour de la zone des transactions */
}

.balance-container, .send-token-container {
    flex: 1; /* Chaque composant prend une part égale de l'espace disponible */
    margin: 20px; /* Ajoute un espace entre les deux composants */
    padding: 20px; /* Ajoute un padding interne pour un meilleur aspect */
    border: 1px solid #020202; /* Ajoute une bordure pour mieux définir les sections */
    border-radius: 8px; /* Arrondit les coins */
}