/* Exemples de styles pour WalletConnect */

/* Style pour l'adresse du portefeuille */
.wallet-address {
    color: white;
    max-width: 200px; /* Limite la largeur de l'affichage de l'adresse */
    white-space: nowrap; /* Empêche le texte de passer à la ligne suivante */
    overflow: hidden; /* Masque le texte qui dépasse la largeur maximale */
    text-overflow: ellipsis; /* Ajoute des points de suspension si le texte dépasse */
    font-style: italic; /* Italique pour le texte de l'adresse */
}

/* Style pour le bouton de connexion */
.connect-button {
    background-color: #0034ff; /* Couleur de fond verte */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    padding: 10px 20px; /* Espacement interne */
    text-align: center; /* Centre le texte */
    text-decoration: none; /* Pas de soulignement */
    display: inline-block; /* Permet le dimensionnement */
    font-size: 16px; /* Taille de la police */
    margin: 4px 2px; /* Marge */
    cursor: pointer; /* Curseur pointer */
    border-radius: 4px; /* Coins arrondis */
}

/* Style pour le bouton de déconnexion */
.disconnect-button {
    background-color: #f44336; /* Couleur de fond rouge */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    padding: 10px 20px; /* Espacement interne */
    text-align: center; /* Centre le texte */
    text-decoration: none; /* Pas de soulignement */
    display: inline-block; /* Permet le dimensionnement */
    font-size: 16px; /* Taille de la police */
    margin: 4px 2px; /* Marge */
    cursor: pointer; /* Curseur pointer */
    border-radius: 4px; /* Coins arrondis */
}
